.container__formulario__orcamento{
    margin-top: 1.25rem;
    
    display: flex;
    align-items: center;
    
}

.container__formulario__orcamento label{
    margin-right: 0.4rem;
    margin-top: 0;
}
.container__formulario__orcamento label:nth-child(3){
    margin-left: 1rem;
}
.container__formulario__orcamento input{
    width: 34%;
}
