.formulario__input__texto{
    height: 10rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset -5px -5px 10px rgba(104, 104, 104, 0.5);
    background: var(--cinza-medio);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 2s 0.3s;
}
.formulario__input__texto:focus{ 
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.5), inset 3px 3px 5px rgba(104, 104, 104, 0.5),-2px -2px 7px rgba(86, 86, 86, 0.5), 2px 2px 7px rgba(0, 0, 0, 0.5);
    outline: none;
}
.formulario__input__texto::placeholder{
    color: var(--branco-cinza);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
}
